<html>
    <head>
        <title> Montagu Rock Rally 2018 </title>
    </head>

    <body>
        <p>
            Testing testing blah blah blah. Try logging in:
        </p>

        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input name="username" type="text"/>

            <label for="password">Password:</label>
            <input name="password" type="password"/>

            <input type="submit" value="Login">
        </form>
    </body>
</html>
