<html>
    <head>
        <title>
            Montagu Rock Rally
        </title>

        <link rel="stylesheet" type="text/css" href="/app/bundle.css">
    </head>

    <body>
        <div id="react-mount"/>

        <script type="text/javascript" src="/app/bundle.js"></script>
    </body>
</html>
